.welcome-screen {
  display: flex;
  min-height: 100vh;
  background: #fff;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  box-sizing: border-box;
}

.welcome-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.welcome-img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.welcome-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-title {
  font-size: 36px;
  font-weight: 800;
  color: #179b06;                /* xanh lá chính */
  margin-bottom: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;

}
.welcome-btn {
  width: 280px;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  transition: filter 0.2s;
}

.welcome-btn:hover {
  filter: brightness(0.95);
}

.welcome-btn.start {
  background: #58cc02;
  color: #fff;
}

.welcome-btn.login {
  background: #fff;
  border: 2px solid #e5e5e5;
  color: #1cb0f6;
}
